header.header {
  background-color: #3498DB;
  padding-top: 10px;
  padding-bottom: 10px;
}

body{
    background-color: #C0392B;
}

#menehune {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px, solid red;

}

div.title {
  display: inline-block;
  vertical-align: middle;
}

h1.title {
  font-size: 60px;
  font-family: verdana, georgia;
  padding-left: 36px;
  text-align: center;
}

h2.title {
  font-size: 30px;
  font-family: verdana, georgia;
  font-style: italic;
  text-align: center
}

h1.main {
  font-size: 30px;
  font-family: verdana, georgia;
  text-align: center;
  vertical-align: top;
}

#waianaecoast {
  display:inline-block;  
  padding-left: 100px;
  padding-right: 25px;
  border: 1px, solid red;
  vertical-align: top;

}

p.main {
  display:inline-block;
  width: 600px;
  font-size: 24px;
  font-family: verdana, georgia;
  text-align: left;
  padding-left: 75px
  vertical-align: top;
}

div.schoollist {
  padding-left: 400px;
}
tr {
  font-size: 20px;
  font-style: verdana, georgia;
  border: 1px;
  text-align: center
}

.column1 {
  width: 200px;
}

#link {
  text-align: center;
  font-family: verdana, georgia;
  font-size: 24px;
}

p.story {
  width: 600px
  text-align: left;
  font-family: verdana, georgia;
  font-size:16px;
  padding-left: 50px;
  padding-right: 50px;
}


#teaching {
  padding-top: 20px;
  padding-bottom: 20px;
  display:inline-block;  
  padding-left: 150px;
  border: 1px, solid red;
  vertical-align: top
}

div.list {
  padding-left: 400px;
}